<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>I'm Bored</title>
</head>

<body>
  <div class="container">
    <h1>Let's find something for you to do ✌️</h1>

    <form action="/" method="POST">
      <select name="type">
        <option value="">Random type</option>
        <option value="education">Education</option>
        <option value="charity">Charity</option>
        <option value="recreational">Recreational</option>
        <option value="relaxation">Relaxation</option>
        <option value="busywork">Busywork</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="music">Music</option>
      </select>

      <select name="participants">
        <option value="">Any number</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>

      <button type="submit">Go</button>
    </form>

    <section class="cards">

      <!-- ERROR -->
      <% if (error) { %>
        <div class="tag-error">
          <p><%= error %></p>
        </div>
      <% } %>

      <!-- DATA LOOP -->
      <% if (data && data.length > 0) { %>

        <% data.forEach(item => { %>

          <article class="card-item">
            <h2 class="card-activity">
              <%= item.activity %>
            </h2>

            <div class="card-info">
              <span class="card-type">
                <%= item.type %>
              </span>

              <span class="card-participants">
                <%= item.participants %>
              </span>
            </div>
          </article>

        <% }) %>

      <% } %>

    </section>
  </div>
</body>

</html>